<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="'Ant SSO'+${title}"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- adminpro icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/adminpro-custon-icon.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">

    <!-- jvectormap CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/jvectormap/jquery-jvectormap-2.0.3.css}">

    <!-- form CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/control-style.css}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>


</head>

<div th:fragment="common_header_table()">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/data-table/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{/css/data-table/bootstrap-editable.css}">
    <!-- charts CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/c3.min.css}">
</div>

<div th:fragment="common_header_tree()">
    <!-- tree viewer CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{../css/tree-viewer/tree-viewer.css}">
</div>


<div th:fragment="common_header_editor()">
    <!-- x-editor CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/select2.css}">
    <link rel="stylesheet" th:href="@{/css/datetimepicker.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-editable.css}">
    <link rel="stylesheet" th:href="@{/css/x-editor-style.css}">
</div>

<div th:fragment="common_header_other()">
    <!-- summernote CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{/css/summernote.css}">
    <!-- dropzone CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/dropzone.css}">
</div>


<div th:fragment="common_header_form()">


    <!-- touchspin CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/touchspin/jquery.bootstrap-touchspin.min.css}">

    <!-- datapicker CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/datapicker/datepicker3.css}">

    <!-- forms CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/form/themesaller-forms.css}">

    <!-- colorpicker CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/colorpicker/colorpicker.css}">

    <!-- select2 CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/select2/select2.min.css}">
    <!-- chosen CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/chosen/bootstrap-chosen.css}">


    <!-- ionRangeSlider CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/ionRangeSlider/ion.rangeSlider.css}">
    <link rel="stylesheet" th:href="@{/css/ionRangeSlider/ion.rangeSlider.skinFlat.css}">

    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet"  th:href="@{/css/responsive.css}">
</div>

</html>
