<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">

    <!-- jquery
        ============================================ -->
    <script th:src="@{/js/vendor/jquery-1.11.3.min.js}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- sticky JS
        ============================================ -->
    <script th:src="@{/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- form validate JS
        ============================================ -->
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/form-active.js}"></script>
    <!-- main JS
        ============================================ -->
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/ant/ant-utils.js}"></script>

    <script th:src="@{/js/ant/ant-common.js}"></script>

    <script th:src="@{/js/wow/wow.min.js}"></script>

    <script th:src="@{/js/restApi.js}"></script>

</div>

<div th:fragment="common_js_scrollUp(scripts)">
    <!-- scrollUp JS
        ============================================ -->
    <script th:src="@{/js/skycons/skycons.min.js}"></script>
    <script th:src="@{/js/skycons/skycons.active.js}"></script>
</div>

<div th:fragment="common_js_rounded-counter(scripts)">
    <!-- rounded-counter JS
        ============================================ -->
    <script th:src="@{/js/rounded-counter/jquery.countdown.min.js}"></script>
    <script th:src="@{/js/rounded-counter/jquery.knob.js}"></script>
    <script th:src="@{/js/rounded-counter/jquery.appear.js}"></script>
    <script th:src="@{/js/rounded-counter/knob-active.js}"></script>
</div>

<div th:fragment="common_js_ant(scripts)">
    <!-- flot JS
    ============================================ -->
    <script th:src="@{/js/ant/ant-common.js}"></script>
</div>

<div th:fragment="common_js_flot(scripts)">
    <!-- flot JS
    ============================================ -->
    <script th:src="@{/js/flot/jquery.flot.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.spline.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.symbol.js}"></script>
    <script th:src="@{/js/flot/jquery.flot.time.js}"></script>
    <script th:src="@{/js/flot/dashtwo-flot-active.js}"></script>
</div>


<div th:fragment="common_js_table(scripts)">
    <script th:src="@{/js/data-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/data-table/tableExport.js}"></script>
    <script th:src="@{/js/data-table/data-table-active.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-editable.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-resizable.js}"></script>
    <script th:src="@{/js/data-table/colResizable-1.5.source.js}"></script>
    <script th:src="@{/js/data-table/bootstrap-table-export.js}"></script>
</div>
<div th:fragment="common_js_edittable(scripts)">
    <!--  editable JS
        ============================================ -->
    <script th:src="@{/js/jquery.mockjax.js}"></script>
    <script th:src="@{/js/mock-active.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap-editable.js}"></script>
    <script th:src="@{/js/xediable-active.js}"></script>
</div>
<div th:fragment="common_js_counterup(scripts)">
    <!-- counterup JS
        ============================================ -->
    <script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/counterup/waypoints.min.js}"></script>
    <script th:src="@{/js/counterup/counterup-active.js}"></script>
</div>

<div th:fragment="common_js_jvectormap(scripts)">
    <!-- jvectormap JS
        ============================================ -->
    <script th:src="@{/js/jvectormap/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/js/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/js/jvectormap/jvectormap-active.js}"></script>
</div>

<div th:fragment="common_js_peity(scripts)">
    <!-- peity JS
        ============================================ -->
    <script th:src="@{/js/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/js/peity/peity-active.js}"></script>
</div>

<div th:fragment="common_js_sparkline(scripts)">
    <!-- sparkline JS
        ============================================ -->
    <script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/sparkline/sparkline-active.js}"></script>
</div>


<div th:fragment="common_js_Chat(scripts)">
    <!--  Chat JS
    ============================================ -->
    <script th:src="@{/js/chat-active/jquery.chat.js}"></script>
</div>

<div th:fragment="common_js_todo(scripts)">
    <!--  todo JS
        ============================================ -->
    <script th:src="@{/js/todo/jquery.todo.js}"></script>
</div>
<div th:fragment="common_js_editor(scripts)">
    <!-- code editor JS
    ============================================ -->
    <script th:src="@{/js/code-editor/codemirror.js}"></script>
    <script th:src="@{/js/code-editor/code-editor.js}"></script>
    <script th:src="@{/js/code-editor/code-editor-active.js}"></script>
</div>

<div th:fragment="common_js_pef(scripts)">
    <!-- pdf JS
        ============================================ -->
    <script th:src="@{/js/pdf/jquery.media.js}"></script>
    <script th:src="@{/js/pdf/pdf-active.js}"></script>
</div>

<div th:fragment="common_js_form(scripts)">
    <!-- chosen JS
		============================================ -->
    <script th:src="@{/js/chosen/chosen.jquery.js}"></script>
    <script th:src="@{/js/chosen/chosen-active.js}"></script>
    <!-- select2 JS
		============================================ -->
    <script th:src="@{/js/select2/select2.full.min.js}"></script>
    <script th:src="@{/js/select2/select2-active.js}"></script>

    <!-- datapicker JS
    ============================================ -->
    <script th:src="@{/js/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/js/datapicker/datepicker-active.js}"></script>

    <!-- input-mask JS
    ============================================ -->
    <script th:src="@{/js/input-mask/jasny-bootstrap.min.js}"></script>

    <!-- ionRangeSlider JS
    ============================================ -->
    <script th:src="@{/js/ionRangeSlider/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/js/ionRangeSlider/ion.rangeSlider.active.js}"></script>

    <!-- touchspin JS
    ============================================ -->
    <script th:src="@{/js/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
    <script th:src="@{/js/touchspin/touchspin-active.js}"></script>

    <!-- rangle-slider JS
    ============================================ -->
    <script th:src="@{/js/rangle-slider/jquery-ui-1.10.4.custom.min.js}"></script>
    <script th:src="@{/js/rangle-slider/jquery-ui-touch-punch.min.js}"></script>
    <script th:src="@{/js/rangle-slider/rangle-active.js}"></script>

    <!-- knob JS
    ============================================ -->
    <script th:src="@{/js/knob/jquery.knob.js}"></script>
    <script th:src="@{/js/knob/knob-active.js}"></script>

    <!-- colorpicker JS
    ============================================ -->
    <script th:src="@{/js/colorpicker/jquery.spectrum.min.js}"></script>
    <script th:src="@{/js/colorpicker/color-picker-active.js}"></script>
</div>
</html>


</html>

