<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="common_submit(scripts)">
    <!-- start header-->
    <div class="sparkline10-list shadow-reset mg-t-30">
        <div class="sparkline10-graph">
            <div class="basic-login-form-ad">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="basic-login-inner inline-basic-form">
                            <form action="#">
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <input type="email" class="form-control basic-ele-mg-b-10"
                                                   placeholder="Enter Email"/>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="password" class="form-control basic-ele-mg-b-10"
                                                   placeholder="password"/>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="inline-remember-me">
                                                            <label>
                                                                <input type="checkbox" class="i-checks"> Remember me
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button class="btn btn-sm btn-primary login-submit-cs"
                                                                type="submit">Sign In
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>
