<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="common/commonHead :: common_header(~{::title},~{::link})">
    <title>Blog Content</title>
</head>
<div th:replace="common/commonHead::common_header_tree"></div>

<style>
    body {
        color: white;
    }
</style>

<body class="darklayout">
<!-- Header top area start-->
<div class="wrapper-pro">


    <div th:replace="common/commonLeft::common_left(~{::name})"></div>

    <!-- Header top area start-->
    <div class="content-inner-all">

        <div th:replace="common/commonTop::common_top(~{::name})"></div>

        <!-- Breadcome start-->
        <div th:replace="common/commonAddr::common_address('App 类型')"></div>

        <!-- Static Table Start -->
        <div class="tree-viewer-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="sparkline9-list shadow-reset">
                            <div class="sparkline9-hd">
                                <div class="main-sparkline9-hd">
                                    <h1>Tree Viewer Style 1</h1>
                                    <div class="sparkline9-outline-icon">
                                        <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                        <span><i class="fa fa-wrench"></i></span>
                                        <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="sparkline9-graph">
                                <div class="adminpro-content res-tree-ov">
                                    <div id="jstree1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div id="inbox"
                             class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">
                            <!--                            <div class="mail-title inbox-bt-mg">-->
                            <!--                                <h2>Inbox</h2>-->
                            <!--                                <div class="view-mail-action view-mail-ov-d-n">-->
                            <!--                                    <a href="#"><i class="fa fa-reply"></i> Reply</a>-->
                            <!--                                    <a class="compose-draft-bt" href="javascript:window.print()"><i-->
                            <!--                                            class="fa fa-print"></i> Print</a>-->
                            <!--                                    <a class="compose-discard-bt" href="#"><i class="fa fa-trash-o"></i> Trash</a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <!--                                <div id="toolbar1">-->
                                <!--                                    <select class="form-control">-->
                                <!--                                        <option value="">Export Basic</option>-->
                                <!--                                        <option value="all">Export All</option>-->
                                <!--                                        <option value="selected">Export Selected</option>-->
                                <!--                                    </select>-->
                                <!--                                </div>-->
                                <!--                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"-->
                                <!--                                       data-show-columns="true" data-show-pagination-switch="true"-->
                                <!--                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"-->
                                <!--                                       data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"-->
                                <!--                                       data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">-->
                                <!--                                    <thead>-->

                                <!--                                </table>-->
                                <table id="table" data-pagination="true" data-search="true"
                                       data-click-to-select="true" data-show-export="true"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcome start-->
<div th:replace="common/commonFooter::common_footer"></div>

<!-- Chat Box End-->
<div th:replace="common/commonJS::common_js(~{::script})"></div>
<!-- counterup JS
    ============================================ -->
<script th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
<script th:src="@{/js/counterup/waypoints.min.js}"></script>
<!-- peity JS
    ============================================ -->
<script th:src="@{/js/peity/jquery.peity.min.js}"></script>
<script th:src="@{/js/peity/peity-active.js}"></script>

<!-- Tree Viewer JS
============================================ -->
<script th:src="@{/js/tree-line/jstree.min.js}"></script>
<script th:src="@{/js/tree-line/jstree.active.js}"></script>

<!-- sparkline JS
    ============================================ -->
<script th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/js/sparkline/sparkline-active.js}"></script>

<div th:replace="common/commonJS::common_js_table(~{::script})"></div>
<!-- main JS
    ============================================ -->
<script th:src="@{/js/main.js}"></script>

<script>

    function init() {
        restApi.doSelectWorkSpaceFolder().then(function (data) {
            console.log(data);
            treeInit(data);
        });
    }

    init();

    window.operateEvents = {
        'click #edit': function (e, value, row, index) {
            console.log(value);
            console.log(row);
            console.log(index);
            window.open('/content/get/' + row.id)
        }, 'click #delete': function (e, value, row, index) {

        }
    };

    function addFunctionAlty(value, row, index) {
        return [
            '<button id="edit" type="button" class="btn btn-default">编辑</button>',
            '<button id="delete" type="button" class="btn btn-default">删除</button>',
        ].join('');
    }

    var colume = [{
        field: 'id',
        title: 'ID',
        hidden: true
    }, {
        field: 'contentTitle',
        title: '标题'
    }, {
        field: 'createDate',
        title: '创建时间'
    }, {
        field: 'contentBodyType',
        title: '类型'
    }, {
        field: 'operate',
        title: '操作',
        events: operateEvents,
        formatter: addFunctionAlty
    }
    ];
    $('#jstree1').on("changed.jstree", function (e, data) {
        console.log(data.selected);
        restApi.doSelectFolderDoc(data.selected[0]).then(function (data) {
            console.log(data);
            var dataArray = [];
            for (var item in data) {
                var dataNew = {};
                dataNew.id = data[item]["id"];
                dataNew.contentTitle = data[item]["contentTitle"];
                dataNew.createDate = data[item]["createDate"];
                dataNew.contentBodyType = data[item]["contentBodyType"];
                dataNew.operate = "";
                dataArray.push(dataNew);
            }
            initTable(colume, dataArray);
        });
    });


</script>

</body>

</html>
